@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "open", sans-serif;
  src: url(../font/OpenSans_Condensed-Regular.ttf);
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body header {
  color: white;
  background-image: url("img/header/banner_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
}
body header figure img {
  width: 180px;
  height: 50px;
  margin: 25px 0 0 200px;
}
body header nav {
  padding: 30px;
  position: relative;
  top: -80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body header nav .nav-toggle-icon {
  width: 30px;
  height: 30px;
  visibility: hidden;
}
body header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body header nav ul #home {
  color: #d6ae6a;
}
body header nav ul #home #fleche_menu_couleur {
  fill: #d6ae6a;
}
body header nav ul li {
  margin: 20px;
  list-style: none;
  font-family: "open", sans-serif;
  font-weight: 100;
}
body header nav ul li .fleche_menu {
  width: 10px;
  height: 10px;
  fill: white;
}
body header nav ul .lien_hover:hover {
  color: #d6ae6a;
}
body header nav ul .lien_hover:hover .fleche_menu {
  width: 10px;
  height: 10px;
  fill: #d6ae6a;
}
body header .logo_tel {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
}
body header .float {
  position: relative;
  right: -650px;
  top: -50px;
  width: 150px;
  height: 150px;
}
body header h1 {
  font-size: 120px;
  font-weight: 900;
  width: 550px;
  position: relative;
  top: -200px;
  right: -250px;
  font-family: "Cinzel", cursive;
}
body header .reserver, body header p {
  position: relative;
  right: -300px;
}
body header .reserver {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6ae6a;
  width: 180px;
  height: 30px;
  border: solid 1px #d6ae6a;
  border-radius: 5px;
  padding: 20px;
  margin-left: 20px;
}
body header .reserver a {
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: "open", sans-serif;
  font-weight: 900;
}
body header #fleche_cote {
  fill: white;
}
body header .fleche_blanche {
  width: 20px;
  height: 10px;
}
body header .reserver:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 180px;
  height: 30px;
  border: solid 1px white;
  border-radius: 5px;
  padding: 20px;
  margin-left: 20px;
}
body header .reserver:hover a {
  text-decoration: none;
  text-align: center;
  color: #d6ae6a;
}
body header .reserver:hover #fleche_cote {
  fill: #d6ae6a;
}
body header .reserver:hover .fleche_blanche {
  width: 20px;
  height: 10px;
}
body header #boutton_play {
  width: 150px;
  height: 150px;
  position: relative;
  right: -1420px;
  top: -380px;
  z-index: 10;
}
body header .explore {
  width: 220px;
  height: 50px;
  background-color: black;
  border: solid 1px grey;
  border-radius: 5px;
  position: relative;
  top: -300px;
  left: 100px;
}
body header .explore a {
  color: white;
  text-decoration: none;
  font-family: "open", sans-serif;
  font-weight: 900;
}
body header .explore:hover {
  width: 220px;
  height: 50px;
  background-color: white;
  border: solid 1px white;
  border-radius: 5px;
  position: relative;
  top: -300px;
  left: 100px;
}
body header .explore:hover a {
  color: #d6ae6a;
  text-decoration: none;
}
body header .explore:hover #fleche_cote {
  fill: #d6ae6a;
}
body header .explore:hover .fleche_blanche {
  width: 20px;
  height: 10px;
}

/*# sourceMappingURL=style.css.map */
