@mixin flex-row(){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin flex-column(){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin footer-flex-row(){
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center; 
}
@mixin category-flex-column(){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
}
@mixin bg_header(){
    background-image: url("img/header/banner_header.jpg");
    background-repeat: no-repeat;
}
