@import '../base/font';
footer{
    width: 100%;
    background-image: url("img/footer/bg_footer.jpg");
    color: white;
    padding: 0 15%;
    

    & figure{
        @include flex-row();
        padding: 4em 0 3em 0;

        & img{
            width: 20em;
        }
    }

    & h3{
        font-family: $Cinzel;
        font-size: 2em;
        padding-bottom: 0.5em;
        text-transform: capitalize;
    }
    
    .basdepage{
        @include flex-row();
        justify-content: space-between;
        padding-bottom: 5em;

        & p{
            font-family: Arial, Helvetica, sans-serif;
            
        }

        & .themes{
            color: #C8A969;
        }

        & a{
            background-color: rgba($color: #fff, $alpha: 0.1);
            border-radius: 50px;
            color: rgba($color: #fff, $alpha: 0.6);
        }
    }
    
    & .bloc{
        @include footer-flex-row();
        border-bottom: 2px solid rgba($color: #fff, $alpha: 0.1);
        justify-content: space-between;
        padding-bottom: 5em;
        margin-bottom: 1.5em;

        & li{
            margin: 1em 0;
        }

        & a {
            color: white;
            opacity: 50%;
        }
    }
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;


    & img{
        width: 20px;
        margin-right: 1em;
        display: flex;
        flex-direction: row;
}
}

footer ul:nth-child(3){
    width: 30%;
    min-width: 30%;
    
}

footer ul:nth-child(4){
    max-width: 25%;
}

.container{
    position: relative;


    &__logorond{
        position: absolute;
        bottom: -3em;
        left: 49%;
        transform: translateX(-35%);
        width: 6em;
    }
}

.basdepage ul{
    @include flex-row();
    gap: 0.5em;
    width: auto;

    li{
        i{
            @include flex-row;
            width: 2.5em;
            aspect-ratio: 1 / 1;
            background-color: rgba($color: #fff, $alpha: 0.1);
            border-radius: 100px;
            color: rgba($color: #fff, $alpha: 0.6);

            &:hover {
                color: white;
                background-color: #C8A969;
                transition: 0.3s;
            }
        }
    }
}


input{
    
    width: 100%;
    border-radius: 0;
    border: none;
    padding: 1.19em;
    font-size: 1em;
}

button{
    padding: 1.78em;
    border-radius: 0;
    border: none;
    background-color: #C8A969;
    transform: translate(-2px, 4px);
    position: absolute;
    
    

    i{
        color: white;
        }
}
footer li{
    line-height: 2em;
}

.bloc__logomap {
    padding-bottom: 1.5em;
}

input, button{
    margin-top: 1em;
}


// 480 tel 768 tablette
@media only screen and (max-width:1800px){
    .basdepage{
        margin-top: 5em;
    }
}

@media only screen 
and (min-width: 768px) 
and (max-width: 1586px){
    .bloc{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;

        & ul{
            width: 50%;
        }
        ul:nth-child(4){
            width: 50%;
            max-width: 50%;
            
        }
        ul:nth-child(3){
            width: 50%;
            max-width: 50%; 
        }
    }
    figure{
        & img{
            width: 25em;
        }
    }
    input{
        width: 76%;
    }
}

@media only screen 
and (min-width: 480px) 
and (max-width: 768px){
    .bloc{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        ul{
            width: 100%;
        }
        ul:nth-child(3){
            width: 100%;
             
        }
        ul:nth-child(4){
            width: 100%;
            min-width: 100%;
        }
    }
    input{
        width: 83%;
    }
}

@media only screen and (max-width:480px){
    .bloc{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        ul{
            width: 100%;
        }
        ul:nth-child(3){
            width: 100%;   
        }
        ul:nth-child(4){
            width: 100%;
            min-width: 100%; 
        }
    }
    input{
        width: 83%;
    }
}