@import '../base/font';


.ourblog{
    width: 100%;
    background-color: #fff;
    padding: 0 15%;

    &__header{
        @include flex-column;
        position: relative;
        z-index: 20;
        margin: 10vh 0vw;
    }
    
    & #background-text{
            font-size: 10vw;
            color: #f4eee3;
            z-index: 10;
            position: absolute;
            left: -9vw;
            font-family: 'Cinzel', cursive;
            
    }
    
    .readmore{
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        padding: 1.5em 2.5em;
        background-color: white;
        font-size: 0.8vw;
        border-radius: 5px;
        
            &:hover{
                background-color: #C8A969;
                color: white;
                transition: all 0.3s ease;
            }    
    }
    
    &__underimage img{
        width: 0.8vw;
        font-family: Arial, Helvetica, sans-serif;
        transform: translateY(1px);
        margin-right: 0.5em;
    }
    
    article{
        width: 25vw;
        background-color: #FAF6F0;
    }

    & h2{
        font-family: $Cinzel;
        text-transform: uppercase;
        font-size: 2.2vw;
    }

    & p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1vw;
        margin-top: 0.5em;

    }

    & h2,p{
        text-align: center;
        z-index: 1000;
    }

    &__article{
       gap: 1em;
    }
    .underimage-padding{
        //padding: 2.5em 2em 3.5em 2em;
        padding: 2vw 2vw 3vw 2vw;

        h4{
            font-family: $Cinzel;
            margin-bottom: 2em;
            font-size: 1vw;
        }
    }
}

.ourblog__article{
    @include flex-row;
    gap: 1.5em;
    & .img img{
        width: 100%;
    }
}

.ourblog__underimage{
    display: flex;
    margin-bottom: 1em;
    a{
        color: #6F6F6F;
        font-size: 0.8vw;
    }

    & ul{
        @include flex-row;
        gap: 2em;
        align-items: start;
        font-family: Arial, Helvetica, sans-serif;
        }
    }

.img__bdp{
    display: flex;
    justify-content: space-around;
    padding: 5em 0 8em 0;
}

.fa-solid{
    padding-left: 1vw;
}

@media only screen and (max-width: 1250px){
    .ourblog__article{
        display: flex;
        flex-direction: column;
    }
    
}

@media only screen 
and (min-width: 768px) 
and (max-width: 1250px){
    .ourblog__article article{
        width: 50%;
    }
    .img__bdp{
        display: flex;
        flex-wrap: wrap;
        img{
            width: auto;
            gap: 5%;
        }
    }
}

@media only screen 
and (min-width: 480px) 
and (max-width: 768px){
    .ourblog .underimage-padding h4{
        font-size: 2vw;
    }
    
    .ourblog__underimage{
        img{
            width: 1.5vw;
        }
        a{
        font-size: 1.5vw;
        }
    }
        .ourblog__article article{
        width: 60%;
     }   
    
    .ourblog .readmore{
        font-size: 1.5vw;
    }
    .ourblog__header h2{
        font-size: 3vw;
    }
    .ourblog p{
         font-size: 2vw;
    }
    .img__bdp{
        display: flex;
        flex-wrap: wrap;
        img{
            width: auto;
            gap: 5%;
        }
    }
}

@media only screen and (max-width:480px){
    .ourblog .underimage-padding h4{
        font-size: 2vw;
    }
    .ourblog__article article{
        width: 60%;
     }
     .ourblog__underimage{
        img{
            width: 1.5vw;
        }
        a{
        font-size: 1.7vw;
        }
    }
    .ourblog .readmore{
        font-size: 1.8vw;
    }
    .ourblog__header h2{
        font-size: 3vw;
    }
    .ourblog p{
         font-size: 2vw;
    }
    .img__bdp{
        display: flex;
        flex-wrap: wrap;
        img{
            width: auto;
            gap: 5%;
        }
    }
}

